<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Item  Name</th>
        <th scope="col">Item Count</th>
        <th scope="col">Item Price</th>
        <th scope="col">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of data">
        <td >{{item.itemName}}</td>
        <td>{{item.itemCount}}</td>
        <td >{{item.itemPrice}}</td>
        <td><a class="btn btn-primary ">Edit</a> | <a class="btn btn-danger"> delete</a></td>
      </tr>
    </tbody>
  </table>
 
  <button type="button" class="btn btn-success">New Item</button>



